@use '../abstracts/shares.scss' as *;
header {
    .search-result {
        @include card;
    }
    .navbar {
        width: 100%;
        padding: 0;
        background-color: $nav-light;
        .container {
            width: 90%;
        }
        .navbar-brand {
            width: 7%;
            @include flex_box(center, center, row);
            position: relative;
            img {
                width: 80%;
                position: relative;
            }
            p {
                @include position(absolute, 60%, 0%);
                font-size: 30px;
                color: white;
                font-weight: bold;
            }
        }
        .nav-item {
            align-content: center;
            .nav-link {
                .toggle {
                    visibility: hidden;
                    &:checked+.label {
                        background-color: transparent;
                        border: 2px solid $outline-dark;
                    }
                }
                .label {
                    background-color: $main-light;
                    border: 2px solid $outline-light;
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    transition-duration: 0.5s;
                    img {
                        position: absolute;
                        z-index: 1;
                        top: 0%;
                        width: 100%;
                    }
                }
            }
        }
    }
    .swiper {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 500px;
            height: 300px;
            margin-inline: 30px;
            border-radius: 10px;
            overflow: hidden;
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .swipe-body {
                padding-inline: 15px;
                justify-content: space-between;
                position: absolute;
                display: flex;
                width: 100%;
                color: white;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.463);
                justify-self: center;
                a {
                    transition-duration: .6s;
                    color: white;
                    text-decoration: none;
                    &:hover {
                        color: $main-light;
                    }
                }
            }
        }
    }
}