@use '../abstracts/shares.scss' as *;

header {
    .search-result {
        @include card;
    }

    .navbar {
        width: 100%;
        padding: 0;
        background-color: $nav-light;
         @include laptop {
            .themes {
                display: flex;
                justify-content: center;

                .label {
                    margin-bottom: 5px;

                }
            }
        }

        @include mobile {
            form {
                width: 50%;

                .search-in {
                    font-size: 12px;
                }

                button {
                    font-size: 12px;
                }
            }
        }

        .container {
            width: 90%;
        }

        .navbar-brand {
            width: 7%;
            @include laptop {
                width: 10%;

            }
            @include tablet {
                width: 13%;
                
            }

            @include mobile {
                width: 20%;

                form {
                    width: 10%
                }
            }

            @include flex_box(center, center, row);
            position: relative;

            .dark-logo {
                display: none;
            }

            img {
                width: 80%;
                position: relative;
            }

            p {
                @include position(absolute, 65%, -6%);
                font-size: 25px;
                color: white;
                font-weight: bold;

                @include laptop {
                    font-size: 25px;
                }
                @include tablet {
                font-size: 25px;
                @include position(absolute, 60%, -4%);

            }

                @include mobile {
                    font-size: 20px;
                    @include position(absolute, 70%, 10%);
                    margin-bottom: 0%;
                }
            }
        }

        .nav-item {
            align-content: center;

            .nav-link {
                .toggle {
                    visibility: hidden;

                    &:checked+.label {
                        background-color: transparent;
                        border: 2px solid $outline-dark;
                    }
                }

                .label {
                    background-color: $main-light;
                    border: 2px solid $outline-light;
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    transition-duration: 0.5s;

                    img {
                        position: absolute;
                        z-index: 1;
                        top: 0%;
                        width: 100%;
                    }
                }
            }
        }
    }

    .swiper {
         width: 100%;

        @include laptop {
            width: 100%;
        }

        @include mobile {
            width: 95%;
        }

        padding-top: 50px;
        padding-bottom: 50px;

        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 500px;
            height: 300px;
            @include laptop {
                width: 500px;
                height: 300px;
            }

            @include mobile {
                width: 350px;
                height: 250px;
            }

            
            margin-inline: 30px;
            border-radius: 10px;
            overflow: hidden;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .swipe-body {
                padding-inline: 15px;
                justify-content: space-between;
                position: absolute;
                display: flex;
                width: 100%;
                color: white;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.463);
                justify-self: center;

                a {
                    transition-duration: .6s;
                    color: white;
                    text-decoration: none;

                    &:hover {
                        color: $main-light;
                    }
                }
            }
        }
    }
}