@use '../abstracts/shares.scss' as *;
#Recomendations {
    .swiper {
        width: 100%;
        height: 100%;
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #444;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

#top-rated {
    .container {
        .swiper {
            width: 100%;
            max-height: 90vh;
            position: relative;
            display: flex;
            justify-content: center;
            .swiper-pagination {
                position: absolute;
            }
            .swiper-wrapper {
                position: relative;
                height: auto;
                .swiper-slide {
                    border-radius: 18px;
                    overflow: hidden;
                    text-align: center;
                    font-size: 18px;
                    display: flex;
                    justify-self: center;
                    background: #444;
                    width: 100%;
                    height: 100%;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        align-self: center;
                    }
                    .swip-body {
                        padding-inline: 15px;
                        justify-content: space-between;
                        position: absolute;
                        width: 100%;
                        color: white;
                        bottom: 0;
                        background-color: rgba(0, 0, 0, 0.463);
                        // justify-self: center;
                        .title {
                            width: 100%;
                        }
                    }
                    .ratee {
                        position: absolute;
                        top: 2%;
                        right: -1%;
                        background-color: $main-light;
                        padding: 10px;
                        border-radius: 5px;
                    }
                    a {
                        position: absolute;
                        top: 2%;
                        left: -1%;
                        transition-duration: .6s;
                        color: white;
                        background-color: $main-light;
                        padding: 10px;
                        padding-left: 20px;
                        border-radius: 5px;
                        text-decoration: none;
                        &:hover {
                            color: $main-dark;
                        }
                    }
                }
            }
        }
    }
}

#popular {
    .filter {
        color: $main-dark;
        input {
            visibility: hidden;
            position: absolute;
        }
        label {
            position: relative;
            margin: 10px;
            padding-block: 5px;
            padding-inline: 8px;
            border: 2px solid $font-light;
            border-radius: 10px;
            transition-duration: .5s;
            cursor: pointer;
        }
        input:checked+label {
            background-color: #ffffff;
        }
        h4 {
            a {
                position: relative;
                i {
                    width: 100%;
                    @include position(absolute, 50%);
                    transform: translateY(-25%);
                    color: $main-dark;
                    font-size: 12px;
                    margin-left: 12px;
                }
            }
        }
        .filter-categories {
            @include flex_box;
            .nav-tabs {
                .nav-link {
                    color: $main-dark;
                }
                width: fit-content;
            }
            margin-bottom: 15px;
        }
        .filter-results {
            @include card;
        }
    }
    .genre {
        .items {
            @include card;
        }
        .genre-title {
            width: fit-content;
            padding-inline: 20px;
            background-color: $nav-light;
            border-radius: 15px;
            border: 2px solid;
            &:hover {
                cursor: pointer;
            }
            .inner {
                @include flex_box;
                .paw-icon {
                    width: 30px;
                    height: 30px;
                    margin-right: 5px;
                }
            }
        }
    }
}

.login-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    top: 0;
    left: 0;
    opacity: 0;
    overflow: scroll;
    align-content: center;
    transition-duration: .5s;
    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(135deg, rgba(255, 248, 225, 0.788) 0%, rgba(255, 242, 219, 0.733) 100%);
    }
    .container {
        position: relative;
        width: 40%;
        overflow: hidden;
        margin: auto;
        background: rgba(255, 255, 255, 0.85);
        backdrop-filter: blur(10px);
        border-radius: 30px;
        border: 1px solid rgba(212, 175, 55, 0.5);
        box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
        .head {
            font-family: var(--main-font);
            text-align: center;
            color: var(--gold-color);
            img {
                width: 50px;
                margin-block: 8px;
            }
        }
        i {
            color: var(--gold-color);
            cursor: pointer;
            margin-top: 10px;
            left: 4%;
            position: relative;
        }
        .data {
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            input {
                width: 90%;
                margin-bottom: 14px;
                padding: 8px;
                border-radius: 18px;
                border: 2px solid var(--gold-color);
                &::placeholder {
                    color: var(--gold-color);
                }
            }
            button {
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                width: 92px;
                padding: 8px;
                border: 2px solid var(--gold-color);
                border-radius: 30px;
                color: var(--gold-color);
                background-color: transparent;
                margin: auto;
                margin-bottom: 15px;
                span {
                    margin-right: 4px;
                }
            }
        }
        img {
            width: 20px;
        }
    }
    .box {
        position: relative;
        margin: auto;
        .user-display {
            text-align: center;
            display: none;
            padding: 20px;
            /* left: -20%; */
            width: 100%;
            align-self: center;
            flex-wrap: nowrap;
            .user-info {
                margin: auto;
                width: 100%;
                max-width: 100%;
                background: rgba(255, 255, 255, 0.85);
                backdrop-filter: blur(10px);
                border-radius: 30px;
                border: 1px solid rgba(212, 175, 55, 0.5);
                box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
                padding: 25px;
            }
        }
    }
}

.login-popup.active {
    opacity: 1;
    z-index: 101;
    transition-duration: .5s;
    pointer-events: auto;
}

.user-info h3 {
    color: #d4af37;
    margin-bottom: 20px;
    font-size: 24px;
}

.user-info td {
    margin: 15px 0;
    font-size: 18px;
    overflow-wrap: anywhere;
}

.user-info span {
    color: #d4af37;
    font-weight: bold;
}

.user-info-table {
    margin: auto;
    display: flex;
    width: fit-content;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.user-info-table td {
    padding: 12px;
    border: 1px solid #ddd;
}

.logout-btn {
    margin-top: 20px;
    color: white;
    padding: 10px 20px;
    background: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s;
}

.logout-btn:hover {
    background: rgba(255, 0, 0, 0.737);
    transform: scale(1.05);
}