@use '../abstracts/shares.scss' as *;
#Recomendations {
    .swiper {
        width: 100%;
        height: 100%;
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #444;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

#top-rated {
    .container {
        .swiper {
            width: 100%;
            max-height: 90vh;
            position: relative;
            display: flex;
            justify-content: center;
            .swiper-pagination {
                position: absolute;
            }
            .swiper-wrapper {
                position: relative;
                height: auto;
                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    display: flex;
                    justify-self: center;
                    background: #444;
                    width: 100%;
                    height: 100%;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        align-self: center;
                    }
                    .swip-body {
                        padding-inline: 15px;
                        justify-content: space-between;
                        position: absolute;
                        display: flex;
                        width: 100%;
                        color: white;
                        top: 0;
                        background-color: rgba(0, 0, 0, 0.463);
                        justify-self: center;
                        a {
                            transition-duration: .6s;
                            color: white;
                            text-decoration: none;
                            &:hover {
                                color: $main-light;
                            }
                        }
                    }
                }
            }
        }
    }
}

#popular {
    .filter {
        color: $main-dark;
        input {
            visibility: hidden;
            position: absolute;
        }
        label {
            position: relative;
            margin: 10px;
            padding-block: 5px;
            padding-inline: 8px;
            border: 2px solid $font-light;
            border-radius: 10px;
            transition-duration: .5s;
            cursor: pointer;
        }
        input:checked+label {
            background-color: #fb9bd4;
        }
        h4 {
            a {
                position: relative;
                i {
                    width: 100%;
                    @include position(absolute, 50%);
                    transform: translateY(-25%);
                    color: $main-dark;
                    font-size: 12px;
                    margin-left: 12px;
                }
            }
        }
        .filter-categories {
            @include flex_box;
            .nav-tabs {
                .nav-link {
                    color: $main-dark;
                }
                width: fit-content;
            }
            margin-bottom: 15px;
        }
    }
    .genre {
        .items {
            .card {
                width: 200px;
                background-color: $card-light;
                margin: auto;
                border-radius: 25px;
                overflow: hidden;
                &:hover a {
                    left: -1%;
                    transition-duration: 1s;
                }
                img {
                    width: 100%;
                }
                .card-body {
                    display: flex;
                    align-self: center;
                    align-items: center;
                    padding: 5px;
                    width: 95%;
                    color: white;
                    height: 14%;
                    background-color: $card-light-text;
                    border: 1px solid black;
                    border-radius: 20px;
                    text-align: center;
                    position: absolute;
                    top: 100%;
                    transform: translateY(-120%);
                    justify-content: space-between;
                    .card-title {
                        text-align: start;
                        font-size: 13px;
                    }
                }
                a {
                    position: absolute;
                    top: 5%;
                    left: -100%;
                    text-decoration: none;
                    color: $font-light;
                    background-color: $card-light-text;
                    padding: 3px;
                    border-radius: 6px;
                    transition-duration: 1s;
                    &:hover {
                        color: white;
                    }
                }
            }
        }
        .genre-title {
            width: fit-content;
            padding-inline: 20px;
            background-color: $nav-light;
            border-radius: 15px;
            border: 2px solid;
            &:hover {
                cursor: pointer;
            }
            .inner {
                @include flex_box;
                .paw-icon {
                    width: 30px;
                    height: 30px;
                    margin-right: 5px;
                }
            }
        }
    }
}