@use '../abstracts/shares.scss' as *;
#Recomendations {
    .swiper {
        width: 100%;
        height: 100%;
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #444;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

#top-rated {
    .container {
        max-height: 80vh;
        .swiper {
            width: 100%;
            height: 100%;
            max-height: 60vh;
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #444;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

#popular {
    .genere {
        .items {
            .card {
                margin: auto;
                border-radius: 25px;
                overflow: hidden;
                img {
                    width: 100%;
                }
                .card-body {
                    margin: 10px;
                    background-color: #444;
                    border-radius: 20px;
                }
                background-color: aqua;
            }
        }
        .genere-title {
            width: fit-content;
            padding-inline: 20px;
            background-color: $nav-light;
            border-radius: 15px;
            border: 2px solid;
            &:hover {
                cursor: pointer;
            }
            .inner {
                @include flex_box;
                .paw-icon {
                    width: 30px;
                    height: 30px;
                    margin-right: 5px;
                }
            }
        }
    }
}